* {
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    text-align: center;
    overflow: auto;
    margin: 0;
    padding: 0;
}


p {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: aliceblue;
    margin-bottom: 100px;
    transform: scale(0.5);
    animation: aparecer 1.5s ease-out forwards;
}


p1 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: aliceblue;
    text-align: left;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 50px;
    transform: scale(0.5);
    animation: aparecer 1.5s ease-out forwards;
}


p2 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: aliceblue;
    line-height: 1.5;
    text-align: justify;
    display: block;
    margin-left: 200px;
    max-width: 80%;
    margin-bottom: 50px;
    transform: scale(0.5);
    animation: aparecer 1.5s ease-out forwards;
}


p3 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: aliceblue;
    text-align: left;
    line-height: 1.5;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 50px;
    transform: scale(0.5);
    animation: aparecer 1.5s ease-out forwards;
}


p4 {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: aliceblue;
    text-align: justify;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 20px;
}


#imagem_ia {
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 200px;
    transform: scale(0.5);
    animation: aparecer 1.5s ease-out forwards;
}

.botao-voltar { font-family: 'Inter', Arial, Helvetica, sans-serif;
     position: fixed;
    left: 20px;
    top: 20px;
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px #000;
    z-index: 9999;
}

.botao-voltar:hover {
    transform: scale(1.07);
    cursor: pointer;
}


#gui-logoia {
    width: 180px;
    margin: 150px auto 45px auto;
    transform: scale(0.5);
    animation: aparecer 1.5s ease-out forwards;
}



@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

