<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/static/sobre_nós.css">
</head>
    <body>
       <a href= "{{ url_for('index') }}">
    <div class="botao-voltar">Inicio</div>
</a>
        
    </body>
    
    <header>
        <h1> BitByteCommerce </h1>
        <p1>A BitByteCommerce é uma empresa comprometida em oferecer soluções inovadoras e suporte especializado a seus usuários e parceiros comerciais. Nosso propósito é impulsionar o avanço tecnológico por meio de iniciativas que combinam criatividade, conhecimento técnico e foco na experiência do usuário.<br></p1>

<p2>Nos últimos anos, consolidamos nossa atuação no desenvolvimento de projetos em Internet das Coisas (IoT), área na qual buscamos integrar dispositivos, dados e automação para tornar processos mais inteligentes e eficientes. Essa trajetória de inovação nos levou a expandir horizontes e investir em novas frentes tecnológicas.<br></p2>

<p3>Como parte dessa evolução, lançamos a inteligência artificial Gui.IA, criada especialmente para auxiliar jovens e iniciantes que desejam aprofundar seus conhecimentos sobre tecnologia, programação e sistemas inteligentes. Vivendo em uma era em que as IAs estão entre os temas mais discutidos no cenário global, a BitByteCommerce apresenta sua solução com foco na educação, no entendimento técnico e no desenvolvimento de competências essenciais para o futuro.<br></p3>

<p4>Para enriquecer ainda mais essa jornada de aprendizado, oferecemos também uma apostila exclusiva, desenvolvida pela própria equipe da empresa. Esse material foi projetado para ampliar o conhecimento dos usuários, apresentando conceitos fundamentais e aplicações práticas, permitindo que cada estudante avance com segurança, clareza e autonomia.</p4>


<div class="caixa">
    <div class="grupo_alfa">
        <div class="item">
            <img src="static/AlexIMG-removebg-preview.png">
            <span class="nome">Alexander</span>
        </div>

        <div class="item">
            <img src="static/MatheusIMG-removebg-preview.png">
            <span class="nome">Matheus</span>
        </div>

        <div class="item">
            <img src="static/RafaelIMG-removebg-preview.png">
            <span class="nome">Rafael</span>
        </div>

        <div class="item">
            <img src="static/MelqueIMG-removebg-preview.png">
            <span class="nome">Melque</span>
        </div>

        <div class="item">
            <img src="static/DaviIMG-removebg-preview.png">
            <span class="nome">Davi</span>
        </div>
    </div>
</div>

       <img src="static/olhadinha_marota.png" alt="" id="ele_tavendo" draggable="false"><br>

    </header>


</html>