<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="icon" type="image/png" href="/static/LOGO_IA.png">
    <link rel="stylesheet" href="static/sobre_gui.css">
</head>

<body>


    <a href="{{ url_for('index') }}" class="botao-voltar aparecer">Início</a>

    <header>


        <img src="/static/LOGO_IA.png" alt="gui-logo" id="gui-logoia" draggable="false" class="aparecer">


        <p class="aparecer">
            <strong>O que é o Gui.IA e para que serve?</strong>
        </p>


        <p1>
            Seja muito bem-vindo ao GUI.IA!<br><br>
            Desenvolvemos um agente de Inteligência Artificial totalmente especializado para fins educativos, 
            projetado para aprimorar o processo de aprendizado e oferecer aos alunos suporte ágil, preciso e 
            confiável em suas dúvidas relacionadas à disciplina.<br><br>

            Criado pela equipe BITBYTECOMMERCE, nosso sistema permite que você acesse nossa plataforma, 
            crie seu próprio usuário e senha e utilize o agente de IA sempre que precisar de orientação ou 
            esclarecimentos sobre a Apostila de Engenharia de Prompt.<br><br>

            Nessa apostila, você terá acesso a conteúdos fundamentais para sua formação, como:
        </p1>


        <p2>
            • História e fundamentos da Inteligência Artificial<br>
            • A arte do prompt<br>
            • Os seis aspectos essenciais para a criação de prompts eficazes<br>
            • E diversos outros temas que irão enriquecer sua jornada acadêmica
        </p2>


        <p3>
            Nosso compromisso é proporcionar uma experiência educacional moderna, intuitiva e completa, 
            ajudando você a compreender, aplicar e dominar os principais conceitos da área.<br><br>

            Seja bem-vindo a essa jornada de conhecimento e evolução profissional!
        </p3>


        <img src="/static/IA.png" alt="IA" id="imagem_ia" draggable="false" class="aparecer">
    </header>



    <div id="footer">
    <footer>
        &copy; 2025 BitByte Commerce. Todos os direitos reservados.
    </footer>
    
</body>
</html>
